footer{
	background-color: #b71c1c;
}
.footer-copyright{
	color: white;
	background-color: #7f0000;
}
h3{
	font-family: 'Lobster', cursive;
	font-size: 34px;
}
img{
	height: 100%;
	width: : 100%;
}
#home, #arqui, #tecno, #contact{
	border-radius: 10px;
	color: white;
}

#home:hover, #arqui:hover, #tecno:hover, #contact:hover{
	background-color:#7f0000;
	border-color: white;
	transition:all .5s ease-in-out
}
li>a, a:hover{
	color:white;
	text-decoration: underline;
}
h5, h5+p, p+p{
	color: white;
}
h2{
	font-size: 25px;
}
nav{
	position: fixed;
	z-index: 100;
}