footer{
	background-color: #b71c1c;
}
.footer-copyright{
	color: white;
	background-color: #7f0000;
}
img{
	height: 100%;
	width: : 100%;
}
#home, #ques, #sintomas, #cuidados, #colombia{
	border-radius: 10px;
	color: white;
}

#home:hover, #ques:hover, #sintomas:hover, #cuidados:hover, #colombia:hover{
	background-color:#4a0072;
	border-color: white;
	transition:all .5s ease-in-out
}
h2{
	font-size: 25px;
}