footer{
	background-color: #b71c1c;
}
.footer-copyright{
	color: white;
	background-color: #7f0000;
}
img{
	height: 100%;
	width: : 100%;
}
#home, #arqui, #tecno, #contact{
	border-radius: 10px;
	color: white;
}

#home:hover, #arqui:hover, #tecno:hover, #contact:hover{
	background-color:#7f0000;
	border-color: white;
	transition:all .5s ease-in-out
}
h2{
	font-size: 25px;
}